/**************************************************************/
/* General Styling */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Libre Franklin", "Nobile", sans-serif;
  line-height: 1.6rem;
  color: MidnightBlue;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", "Rosarivo", serif;
}

body {
  margin: 0;
}

::selection {
  background-color: lightblue;
  _background-color: #ffb7c5; /*sakura-color*/
  color: white;
}

/**************************************************************/
/* Specific Stylings */

.header {
  padding: 3rem 1rem;
  padding-top: 4rem;
  text-align: center;
  position: relative;
  _background-image: linear-gradient(135deg, lightblue 0%, azure);
  background-image: linear-gradient(30deg, lightblue 60%, azure);
}

.main {
  padding: 1rem;
  max-width: 60ch;
  margin: 0 auto;
  _background-color: antiquewhite;
  /* zentrieren mit margin: 0 auto; */
}

.footer {
  background-color: lightblue;
  background-image: linear-gradient(0deg, lightblue, azure);
  margin-top: 2rem; /* Abstand zu Contact-section vergrößern */
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.hire-me-button {
  background-color: #ffb7c5;
  position: absolute;
  padding: 0;
  right: 1rem;
  top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@media screen and (min-width: 992px) {
  .hire-me-button {
    position: fixed;
  }
}

@media print {
  .hire-me-button {
    display: none;
  }

  .navbar {
    display: none;
  }
}

.navbar {
  text-decoration: none; /* 4 Links in der Navbar standardmäßig nicht unterstrichen */
  padding: 0.5rem 1rem;
  color: inherit;
  _background-color: palegreen;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  _background-color: yellow;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.navbar + .navbar {
  margin-left: 1rem;
}

.navbar:hover {
  text-decoration: underline;
  background-color: lightskyblue;
  color: azure;
}

.navbar:active {
  _background-color: #ffb7c5;
  background-color: midnightblue;
  color: white;
}

.combined-heading {
  font-size: 4rem;
}

.title-heading {
  font-size: 1em;
}

.profession-heading {
  font-size: 0.25em;
}

.profession-heading::before {
  content: "🚀";
}

.profession-heading::after {
  content: "👨‍💻";
}

main article {
  padding-left: 1rem;
  padding-right: 1rem;
  _background-color: coral;
}

.headings-article {
  position: relative;
  left: -1rem;
  _background-color: rosybrown;
  /* neu */
}

.experience-header {
  display: flex;
  flex-direction: column;
}

.experience-job {
  _display: inline-block;
  _border: 0.15rem solid red;
}

.experience-period {
  _display: inline-block;
  _border: 0.15rem solid green;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

blockquote {
  color: #ffb7c5;
  text-align: center;
}

main h2::first-letter {
  font-size: 2.5rem;
}

.main > * {
  _background-color: cyan; /* Verdeutlichung des Rahmens */
  border-top: 0.15rem solid lightblue;
  _padding: 1.6rem; /* Alternative zu main article {} */
}

.main > *:first-child {
  border-top: none; /* um, Divider zu entfernen */
}

article + article {
  margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  article + article {
    margin-top: 3.5rem;
  }
}

/* .main > * + * same like article + article */
.main > * + * {
  _margin-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .main > * + * {
    _margin-top: 3.5rem;
  }
}

.list {
  list-style-type: square;
} /* list-style-type für andere Auflistungszeichen */

.link-contact,
.link-footer {
  color: inherit;
} /* alle hyperlinks nicht mehr in blue, sondern in der Farbe des Eltern-El */

.text-footer {
  text-align: center;
  margin: 0 auto;
}

.copyright-footer {
  text-align: center;
}

/**************************************************************/
/* Hover und Active Pseudo-Classes*/

a[href^="mailto"]:hover {
  background-color: lightskyblue;
  color: darkslategrey;
}

a[href^="https://www.linkedin"]:hover
{
  background-color: lightskyblue;
  color: darkslategrey;
}

a[href*="#top"]:hover {
  background-color: lightskyblue;
  color: darkslategrey;
}

a[href^="mailto"]:active {
  background-color: cornflowerblue;
  color: white;
}

a[href*="www.linkedin.com"]:active {
  background-color: cornflowerblue;
  color: white;
}

a[href*="top"]:active {
  background-color: cornflowerblue;
  color: white;
}

/**************************************************************/
/* Japanischer Abschnitt */

.poem-vertical {
  writing-mode: vertical-rl;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.poem-vertical > p {
  margin-right: 3rem;
}

@media screen and (max-width: 768px) {
  .poem-vertical {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .poem-vertical > * + * {
    margin-top: 3rem;
  }
}
