/**************************************************************/
/* General Styling */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Libre Franklin", "Nobile", sans-serif;
  font-size: 16px;
  _line-height: 1.6rem;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", "Rosarivo", serif;
}

body {
  --main-color: MidnightBlue;
  --background-color: lightblue;
  --secondary-background-color: azure;
  --hover-background-color: lightskyblue;
  --hover-color: azure;
  --active-color: snow;
  --accent-color: #ffb7c5;

  margin: 0;
  background-color: var(--active-color);
  color: var(--main-color);
}

::selection {
  background-color: var(--background-color);
  color: var(--active-color);
}

/**********************************/

/**************************************************************/
/* Specific Stylings */

.header {
  padding: 3rem 1rem;
  padding-top: 4rem;
  text-align: center;
  position: relative;
  color: var(--main-color);
  background-image: linear-gradient(
    30deg,
    var(--background-color) 60%,
    var(--secondary-background-color)
  );
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
  margin: 0 auto;
}

.main-heading-label::after {
  content: "Oliver Müller";
}
.main-heading-label:hover::after {
  content: "オリバー・ミュラー";
  font-size: 0.9em;
}

.profession {
  font-size: 0.25em;
}

.profession::before {
  content: "🚀";
}

.profession::after {
  content: "👨‍💻";
}

.hire-me {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  opacity: 0.7;
  background-color: var(--accent-color);
  transform-origin: 100% 0%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.header:hover .hire-me,
.header:focus-within .hire-me {
  opacity: 1;
  font-weight: 1000;
  transform: scale(1.3);
}

.hire-me:hover::after {
  content: "🙋‍♂️";
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  text-decoration: none; /* 4 Links in der nav-link standardmäßig nicht unterstrichen */
  padding: 0.5rem 1rem;
  color: var(--main-color);
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  text-decoration: underline;
  background-color: var(--hover-background-color);
}

.nav-link:active {
  background-color: var(--main-color);
  color: var(--active-color);
}

.nav-link:focus {
  background-color: var(--accent-color);
  outline: 0.3rem double var(--main-color);
  transition: background-color 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

.main {
  padding: 1rem;
  max-width: 60ch;
  margin: 0 auto;
  /* zentrieren mit margin: 0 auto; */
}

.main > * + * {
  margin-top: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

main h2::first-letter {
  font-size: 2.5rem;
}

main article {
  _margin-top: 2.5rem;
  _padding-left: 1.5rem;
  _padding-right: 1.5rem;
} /*    Alternative zu .main > * + *    */

.article-grid {
  /* NEU!!! VORHER:  .main < * { */
  border-top: 0.15rem solid var(--background-color);
  _padding: 1.5rem; /* Alternative zu main article {} */
}

.main > *:first-child {
  _border-top: none; /* um, Divider zu entfernen */
}

@media screen and (min-width: 768px) {
  .article-grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 80ch;
  }
}

.main-article-heading {
  /* NEU: VORHER article-heading */
  position: relative;
  left: -1rem;
}

.main-article-content {
  margin-top: 4rem;
}

blockquote {
  color: var(--accent-color);
  text-align: center;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experience-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .main > * + * {
    margin-top: 4rem;
  }
}

.list-style {
  list-style-type: square;
}

.contact-link,
.footer-link {
  color: var(--main-color);
}

.contact-link:focus,
.footer-link:focus,
.nach-oben:focus {
  background-color: var(--accent-color);
  outline: 0.3rem double var(--main-color);
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
}

.footer {
  background-image: linear-gradient(
    0deg,
    var(--background-color),
    var(--secondary-background-color)
  );
  margin-top: 2rem; /* Abstand zu Contact-section vergrößern */
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.footer-text {
  text-align: center;
  margin: 0 auto;
}

.footer-copyright {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer-text span {
    display: block;
  }
}

/**************************************************************/
/* Hover und Active Pseudo-Classes*/

a[href^="mailto"]:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-color);
}

a[href^="https://www.linkedin"]:hover
{
  background-color: var(--hover-background-color);
  color: var(--hover-color);
}

a[href*="#top"]:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-color);
}

a[href^="mailto"]:active {
  background-color: var(--main-color);
  color: var(--active-color);
}

a[href*="www.linkedin.com"]:active {
  background-color: var(--main-color);
  color: var(--active-color);
}

a[href*="top"]:active {
  background-color: var(--main-color);
  color: var(--active-color);
}

/**************************************************************/
/* Japanischer Abschnitt */

.poem-vertical {
  writing-mode: vertical-rl;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.poem-vertical > p {
  margin-right: 3rem;
}

@media screen and (max-width: 768px) {
  .poem-vertical {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .poem-vertical > * + * {
    margin-top: 3rem;
  }
}

/**************************************************************/
/* Dark Mode */

@media (prefers-color-scheme: dark) {
  body {
    color: var(--active-color);
    background: var(--main-color);
  }
  .footer,
  .header {
    color: var(--main-color);
  }
  .contact-link {
    color: var(--accent-color);
  }
}
