/**************************************************************/
/* General Styling: Überall gültig*/
* {
  box-sizing: border-box;
}

html {
  font-family: "Libre Franklin", "Nobile", sans-serif;
  line-height: 150%;
  color: MidnightBlue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", "Rosarivo", serif;
}

body {
  margin: 0px;
}

::selection {
  _background-color: lightblue;
  background-color: #ffb7c5; /*sakura-color*/
  color: white;
}

/**************************************************************/
/* Specific Stylings */

/**************************************************************/
/* Heading and Navbar */

.site-header {
  padding: 40px 16px;
  background-color: lightblue;
  _background-color: seagreen;
  text-align: center;
}

.subheading::before {
  content: "🚀";
}

.subheading::after {
  content: "👨‍💻";
}

.navbar {
  padding: 10px;
  color: inherit;
}

.navbar + .navbar {
  margin-left: 14px;
}

.navbar:hover {
  background-color: lightskyblue;
  color: darkslategrey;
}

.navbar:active {
  background-color: cornflowerblue;
  color: white;
}

/**************************************************************/
/* Main and Footer */

.main,
.site-footer {
  padding: 16px 8px;
  max-width: 800px;
  margin: 0 auto;
  _background-color: antiquewhite;
  /* max-width: maximale Breite festlegen,
  zentrieren mit margin: 0 auto; */
}

blockquote {
  color: #ffb7c5;
  text-align: center;
}

main h2::first-letter {
  font-size: 150%;
}

.main > * {
  _background-color: cyan; /* Verdeutlichung des Rahmens */
  border-top: 2px solid lightgrey; /* nochmal üben, sehr geile lösung */
}

.main > *:first-child {
  border-top: none; /* um, obersten Strich zu entfernen */
}

article + article {
  margin-top: 40px;
  _margin-left: 150px;
}

/*main > * + * same like article + article */
.main > * + * {
  _margin-top: 40px;
}

.list {
  list-style-type: square;
} /* list-style-type für andere Auflistungszeichen */

.site-footer {
  text-align: right; /*rechtsbündiges Copyright */
}

/**************************************************************/
/* Hover und Active Pseudo-Classes*/

a[href^="mailto"]:hover {
  background-color: lightskyblue;
  color: darkslategrey;
}

a[href^="https://www.linkedin"]:hover
{
  background-color: lightskyblue;
  color: darkslategrey;
}

a[href*="#top"]:hover {
  background-color: lightskyblue;
  color: darkslategrey;
}

a[href^="mailto"]:active {
  background-color: cornflowerblue;
  color: white;
}

a[href*="www.linkedin.com"]:active {
  background-color: cornflowerblue;
  color: white;
}

a[href*="top"]:active {
  background-color: cornflowerblue;
  color: white;
}

.experience-job {
  display: inline-block;
  _border: 1px solid red;
}

.experience-period {
  display: inline-block;
  _border: 1px solid green;
}

.poem-vertical {
  writing-mode: vertical-rl;
  margin: 0 auto;
}
